h1 {
    color: #2c3e50;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    letter-spacing: 1px;
    text-transform: uppercase;
}



body {
    background-color: #f8f1dd !important;
    /* margin: 0; */
    padding: 0;
    /* text-align: center;
    font-family:Arial, Helvetica, sans-serif; */
}

form {
    /*background-color: pink;   (teszt)*/  
    padding-top: 20px;
    display: flex;             
    flex-direction: column;    
    align-items: center;       
    gap: 10px;
    padding-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

input {
    padding: 12px 20px; 
    font-size: 15px; 
    height: 40px; 
    width: 60%; 
    border-radius: 8px; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;
}

button {
    background-color: transparent; 
    color: black; 
    border: 2px solid black; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    
}

button:hover {
    
    background-color: black; 
    color: white; 
    border: 2px solid black;
    font-family:Arial, Helvetica, sans-serif;
}

th{
    text-align:center !important;
}

.submit-button{
    margin-top:20px;
}

.button-wrapper {
    text-align: center;
    margin-top: 40px;

}

#clearBtn {
    display: inline-block;
}

#table-target td {
    text-align: center;
}


